In [3]:

import sqlalchemy # Python SQL toolkit that allows developers to access and manage SQL databases using Pythonic domain language. You can write a query in the form of a string or chain Python objects for similar queries.
import pandas as pd

In [9]:
def dynamic_connection(username, password, hostname,port,database_name, table_name):
    engine = sqlalchemy.create_engine(
        f"mysql+mysqlconnector://{username}:{password}@{hostname}:{port}/{database_name}"
    )

    query = f'SELECT * from {table_name}'

    df = pd.read_sql(query,engine)
    print(df)

In [10]:
dynamic_connection('root',1234,'localhost',3306,'practical','employee')

   Emp_No Emp_Name        Dept   Salary   Date_Join    Location email_id  Age
0       1   Ramesh  Electrical    45458  2078-08-26    Pachkhal     None   23
1       2   Bimesh          CS   563243  2077-08-26     Tinkune     None   54
2       3   Dinesh          CS    56673  2076-08-26      Balaju     None   32
3       4   Mimesh          CE   875343  2066-07-06       Tokha     None   21
4       5   Ramesh       Civil   857423  2078-02-02   Samakushi     None   34
5       6    Kamal       Civil  5983458  2070-02-02   Dhulikhel     None   32
6       7     Adhi         ENE  5983458  2072-04-07   Dhulikhel     None   67
7       8   Rupesh          ES   444638  2068-07-06       Sanga     None   43
8       9   Mukesh    Chemical   444638  2068-07-06  Sallaghari     None   33
9      10   Runesh          ES  8353495  2060-07-31      Chabel     None   34

In [4]:
#creating engine
engine = sqlalchemy.create_engine(
    #after // we write first username:password @hostname:port/databasename
'mysql+mysqlconnector://root:1234@localhost:3306/practical')